<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="awhina" content="">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <title>āwhina | helping youth</title>
</head>

<h1>āwhina</h1>

<div class="welcome">

<h3>Contact us | kōrero mai</h3>

<h4>If you would like to get in touch with us about this resource, have feedback or ideas for how we can support you better, let us know. We would love to hear from you.</h4>

<p>Email: awhina@gmail.com</p><br>

<a href="/" class="link">Home</a>
</div>
