<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link type="text/css" href="/stylesheets/style.css" rel="stylesheet">

<!--<script type="text/javascript">
  $(document).ready(function(){
    function refresh(){
      $("#button").bind("click", function(){
        $("#container".load(""))
      })
    }
  })
</script> --><!---->



  <title>āwhina</title>
</head>

<h1>āwhina</h1>

<h4>Motivation and Inspiration</h4>

<div class = 'item'>
  {{motivate_item}}
</div>
<div class = 'source'>
  {{motivate_source}}
</div>
<br/>

<button type="button" onClick="window.location.reload();" id="button" >Click for another one</button><br>

<div id="mediaChoice">
  <p>Select the type of media</p>
  <input type="checkbox" name="choose" value="text" />Text
  <input type="checkbox" name="choose" value="image" />Image
  <input type="checkbox" name="choose" value="video" />Video
</div>

<div>
  <a class="link" href="/home">Home |</a>
  <a class="link" href="/home/contact">Contact</a>
</div>
