<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
</head>

<h1>āwhina</h1>

<p>Dealing with bullying</p>

<div class = 'topics'>
  <img src={{url}} alt="various media on dealing with bullying" />
</div>
<br/>
<button type="button">Click for more</button>
<div><a class="link" href="/home">Home</a></div>
