<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
</head>

<h1>Äwhina</h1>

<p>Hope this gives you a giggle</p>

<div class = 'topics'>
  <img src={{url}} alt="pic of a cat gif" />
</div>
<br/>
<div><a class="link" href="/home">Mosey on back to the home page</a></div>
