<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
</head>

<h1>āwhina</h1>

<h3>Welcome to āwhina.</h3>

<p>What do you need?</p>

<div class = 'topics'>
  <div class='one'>Motivation</div>
  <div class='one'>Study tips</div>
  <div class='one'><a class="link" href="/home/how">Have a laugh</a></div>
  <div class='one'>Fitness advice</div>
  <div class='one'>Surprise Me!</div>
</div>
