<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="awhina" content="">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <title>āwhina | helping youth</title>
</head>

<h1>āwhina</h1>

<h3>Haere mai ki āwhina. Welcome to āwhina.</h3>

<p>He aha tō hiahia i tenei wā?</p>
<p>What do you need today?</p>

<div class = 'topics'>
  <div class='one'><a class="link" href="/home/motivate">Motivation</a></div>
  <div class='one'><a class="link" href="/home/emotion">Finding joy and other good feelings</div>
  <div class='one'><a class="link" href="/home/study">Study tips</div>
  <div class='one'><a class="link" href="/home/laugh">Have a laugh</a></div>
  <div class='one'><a class="link" href="/home/fitness">Fitness advice</div>
  <div class='one'><a class="link" href="/home/sadness">Feeling down</div>
  <div class='one'><a class="link" href="/home/bullying">Dealing with bullying</div>
  <div class='one'><a class="link" href="/home/drugs">Drug and alcohol facts, and staying safe</div>
  <div class='one'><a class="link" href="/home/peers">Peer pressure</div>
  <div class='one'><a class="link" href="/home/socialmedia">Social media and online safety</div>
</div>
