<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
</head>

<h1>Äwhina</h1>

<p>How would you like it?</p>

<div class = 'topics'>
  <div class='one'>Read</div>
  <div class='one'>Listen</div>
  <div class='one'><a class="link" href="/home/laugh">Watch</a></div>
  <div class='one'>Do</div>
  <div class='one'>Any way is fine</div>
</div>
