<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="awhina" content="">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <title>āwhina | helping youth</title>
</head>

<h1>āwhina</h1>

<p>Other ways to get help and support</p>

<div class = 'topics'>
  <p>YOUTHLINE:</br>
    <a class="link" href="https://www.youthline.co.nz/">Click here for the website</a>
    </br>Phone free: 0800 376 633
    </br>Free text: 234
    </br>Email: talk@youthline.co.nz
    </br>Chat online: <a class="link" href="https://www.youthline.co.nz/services/goforward/go-chat/">Click here</a>
  </p>
</div>

<div class = 'topics'>
  <p>WHATSUP:</br>
    <p>A counselling phone line for 5 - 18 yrs, with trained counsellors taking the calls.</p>
  </br>Website: <a class="link" href="http://www.whatsup.co.nz/">http://www.whatsup.co.nz/</a>
</br>Phone: 0800 942 8787 free from any mobile, landline or phone box.
</div>



<br/>
<div><a class="link" href="/home">Home</a></div>
