<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" >
</head>

<h1>Äwhina</h1>

<p>Social media and online safety</p>

<div class = 'topics'>
  <img src={{url}} alt="social media and safety" />
</div>
<br/>
<button type="button">Click for more</button>
<div><a class="link" href="/home">Home</a></div>
