body {
  background-color: #b3dec8;
  text-align: center;
  font-size: 1.5em;
}

.topics {
  border-style: solid;
  border-color: white;
  width: 50%;
  margin-left: 25%
}

.one {
  margin: 2em;
  border-style: solid;
  border-color: grey;
}
