*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ade6d8;
  text-align: center;
  font-size: 1.5em;
  color: black;
}


/********Welcome message**********/

.welcome {
  width: 50%;
  text-align: center;
  margin: auto;
}

.topics {
  width: 60%;
  float: left;
  margin-left: 25%;
}

/********topic headings***********/
.one {
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  background: #adbce6;
  padding: .5em;
  width: 150px;
  height: 100px;
  float: left;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help {
  background: pink;
}

/*****General styles***********/

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2.7em;
}

h3 {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 1.1em;
}

h4 {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  margin: auto;
}

p {
  text-align: center;
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

a {
	text-decoration: none;
  color: #dd68c0;
  text-shadow: 1px 1px black;
  font-size: 1.2em;
}


@media (min-width:550px) {
  h3 {
      font-size: 2em;
    }
  p {
    font-size: 1.2em;
  }
}


@media (min-width:550px) {
  .nav {
    font-size: 1.4rem;
    font-weight: normal;
  }
}

.nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 10px;
  background-color: rgba(195, 192, 236, 0.5);
  border-radius: 10%;
}

.nav a {
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}

.button {
  padding: 0 0;
  border-radius: 1.3em;
  font-size: 0.5em;
}


@media (min-width:550px) {
.one {
    font-size: .8em;
  }
}
